/.vs
/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
/Plugins
/Content/__ExternalObjects__
/Content/__ExternalActors__
/Content/Assets/MilitaryWeapSilver
/Content/Assets/Private
*.sln
*_BuiltData.uasset
